<template name="index">
  <!--<i class="mdi-editor-insert-drive-file" ></i>-->
  <!--<i class="mdi-action-favorite mdi-material-teal" style="font-size: 40pt;"></i>-->
  <hr class="">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">

            <h3 class="panel-title">Coca Cola UAT</h3>
          </div>
          <div class="panel-body">
            <h4>Scans <span class="badge pull-right">800</span></h4>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
  <!--/container -->

</template>